iframe {
  height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.videoTitle {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
